<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>This or That</title>

        <!-- Bootstrap -->
        <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet">
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/mystyles.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    </head>

    <body>
        <div id="content"></div>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!--<script src="/static/js/jquery-1.11.3.min.js"></script>-->
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="/static/js/bootstrap.min.js"></script>
        <!-- React -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.12.0/react.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.12.0/JSXTransformer.js"></script>
        <script src="/static/js/ourcode.js"></script>
        <!--<script src="/static/js/react.js"></script>-->
        <!--<script src="/static/js/JSXTransformer.js"></script>-->

        <!-- Template -->
        <script type="text/jsx">
            var topLevel = React.createClass({
                render: function() {
                    return (
                    <div>
                        <div id="uploads">
                            <form action="" method='post' encType='multipart/form-data'>
                                <p>
                                    <input type='file' name='this'>This</input>
                                    <input type='file' name='that'>That</input>
                                    <input type='submit' value='Upload'></input>
                                </p>
                            </form>
                        </div>
                        <div>
                            <Quiz quizQuestions={this.state} />
                        </div>
                    </div>
                    );
                },
                componentDidMount: function(){$.ajax({
                    url: "http://127.0.0.1:5000/quiz/1",
                    success: function(data) {
                        this.setState(data.quiz);
                    }.bind(this),
                    error: function(xhr, status, err) {
                        console.error(this.props.url, status, err.toString());
                    }.bind(this)
                });
                }
            });
            var Quiz = React.createClass({
                startQuiz: function(){
                    this.setState({quizStarted: false});
                },
                nextQuestion: function(){
                    var numOfQuestions = Object.keys(this.props.quizQuestions).length;
                    var questionNumber = getRandomInt(0, numOfQuestions-1);
                    var question = this.props.quizQuestions[questionNumber];
                    this.setState({question: question})
                },
                render: function() {
                    var startQuizButton = <button type="button" onClick={this.startQuiz}>Start quiz</button>;
                    var nextQuestionButton = <button type="button" onClick={this.nextQuestion}>Next question</button>;
                    var quizQuestion = <QuizQuestion this={this.state.question[0]} that={this.state.question[1]}></QuizQuestion>
                    return (
                    <div>
                        {this.state.quizStarted ? startQuizButton : null}
                        {!this.state.quizStarted ? nextQuestionButton : null}
                        {!this.state.quizStarted ? quizQuestion : null}
                    </div>
                    );
                },
                getInitialState: function(){
                    return {quizStarted: true, question: [null, null]};
                }
            });
            var QuizQuestion = React.createClass({
               render: function() {
                    return (
                    <div>
                        This: {this.props.this} <br/>
                        That: {this.props.that}
                    </div>
                    );
                }
            });

            React.render(
                React.createElement(topLevel, null),
                document.getElementById('content')
            );
        </script>
    </body>
</html>
